@*<li class="nav-title">Lisans Süresi</li>
    <li class="pl-2 pr-2">*@

<div class="col-md-5 mt-4">
    @if (ViewBag.kalan >= 365)
            {
        <div class="progress progress progress-striped left">
            <span class="progressbar-back-text">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            <div class="progress-bar progress-bar-info" data-transitiongoal="@ViewBag.kalan" aria-valuemin="0" aria-valuemax="@ViewBag.toplam">
                <span class="progressbar-front-text" style="width: 225.133px;">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            </div>
        </div>
    }
    else if (ViewBag.kalan < 365 && ViewBag.kalan >= 30)
    {
        <div class="progress progress progress-striped left">
            <span class="progressbar-back-text">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            <div class="progress-bar progress-bar-success" data-transitiongoal="@ViewBag.kalan" aria-valuemin="0" aria-valuemax="@ViewBag.toplam">
                <span class="progressbar-front-text" style="width: 225.133px;">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            </div>
        </div>
    }
    else if (ViewBag.kalan < 30 && ViewBag.kalan >= 7)
    {
        <div class="progress progress progress-striped left">
            <span class="progressbar-back-text">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            <div class="progress-bar progress-bar-warning" data-transitiongoal="@ViewBag.kalan" aria-valuemin="0" aria-valuemax="@ViewBag.toplam">
                <span class="progressbar-front-text" style="width: 225.133px;">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            </div>
        </div>
    }
    else
    {
        <div class="progress progress progress-striped left">
            <span class="progressbar-back-text">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            <div class="progress-bar progress-bar-danger" data-transitiongoal="@ViewBag.kalan" aria-valuemin="0" aria-valuemax="@ViewBag.toplam">
                <span class="progressbar-front-text" style="width: 225.133px;">Lisans Süresi: @ViewBag.kalan / @ViewBag.toplam</span>
            </div>
        </div>
    }
</div>

@*</li>*@
