
@{
    ViewBag.Title = "PersonelAyarlari";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using FotografciTakipWeb.Models
@model AyarlarPersonel


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel shadow-5">
            <div class="panel-hdr">
                <h3>Personel Ayarları</h3>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="alert alert-warning" role="alert">
                        <strong>Dikkat!</strong> Değeri <b>"0" (Sıfır)</b> olan ayarlar hesaplamalara dahil edilmez. <b>Modül geliştirme aşamasındadır ve bu özellikler çalışma esnasında hata verebilir.</b>
                    </div>
                    <form action="/Otomasyon/Ayarlar/PersonelAyarlari" method="post" enctype="multipart/form-data">
                        @if (Model != null)
                        {
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BaslangicIzinSuresi">İlk Yıl İzin Süresi</label>
                                    <input type="text" id="BaslangicIzinSuresi" name="BaslangicIzinSuresi" class="form-control" maxlength="99" value="@Model.BaslangicIzinSuresi">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BirUcYilIzin">1-3 Yıllık İzin Süresi</label>
                                    <input type="text" id="BirUcYilIzin" name="BirUcYilIzin" class="form-control" maxlength="99" value="@Model.BirUcYilIzin">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="UcBesYilIzin">3-5 Yıllık İzin Süresi</label>
                                    <input type="text" id="UcBesYilIzin" name="UcBesYilIzin" class="form-control" maxlength="99" value="@Model.UcBesYilIzin">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BesOnYilIzin">5-10 Yıllık İzin Süresi</label>
                                    <input type="text" id="BesOnYilIzin" name="BesOnYilIzin" class="form-control" maxlength="99" value="@Model.BesOnYilIzin">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="OnOnbesYilIzin">10-15 Yıllık İzin Süresi</label>
                                    <input type="text" id="OnOnbesYilIzin" name="OnOnbesYilIzin" class="form-control" maxlength="99" value="@Model.OnOnbesYilIzin">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="OnbesYirmiYilIzin">15-20 Yıllık İzin Süresi</label>
                                    <input type="text" id="OnbesYirmiYilIzin" name="OnbesYirmiYilIzin" class="form-control" maxlength="99" value="@Model.OnbesYirmiYilIzin">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="YillikMaasArtisOrani">Yıllık Maaş Artış Oranı(%)</label>
                                    <input type="text" id="YillikMaasArtisOrani" name="YillikMaasArtisOrani" class="form-control" maxlength="99" value="@Model.YillikMaasArtisOrani">
                                </div>
                            </div>
                            <input type="text" id="Id" class="form-control" name="Id" maxlength="50" style="display:none" value="@Model.Id">
                        }
                        else
                        {
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BaslangicIzinSuresi">İlk Yıl İzin Süresi</label>
                                    <input type="text" id="BaslangicIzinSuresi" name="BaslangicIzinSuresi" class="form-control" maxlength="99" value="0">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BirUcYilIzin">1-3 Yıllık İzin Süresi</label>
                                    <input type="text" id="BirUcYilIzin" name="BirUcYilIzin" class="form-control" maxlength="99" value="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="UcBesYilIzin">3-5 Yıllık İzin Süresi</label>
                                    <input type="text" id="UcBesYilIzin" name="UcBesYilIzin" class="form-control" maxlength="99" value="0">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="BesOnYilIzin">5-10 Yıllık İzin Süresi</label>
                                    <input type="text" id="BesOnYilIzin" name="BesOnYilIzin" class="form-control" maxlength="99" value="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="OnOnbesYilIzin">10-15 Yıllık İzin Süresi</label>
                                    <input type="text" id="OnOnbesYilIzin" name="OnOnbesYilIzin" class="form-control" maxlength="99" value="0">
                                </div>
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="OnbesYirmiYilIzin">15-20 Yıllık İzin Süresi</label>
                                    <input type="text" id="OnbesYirmiYilIzin" name="OnbesYirmiYilIzin" class="form-control" maxlength="99" value="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-sm-5 ml-3">
                                    <label class="form-label" for="YillikMaasArtisOrani">Yıllık Maaş Artış Oranı(%)</label>
                                    <input type="text" id="YillikMaasArtisOrani" name="YillikMaasArtisOrani" class="form-control" maxlength="99" value="0">
                                </div>
                            </div>
                            <input type="text" id="Id" class="form-control" name="Id" maxlength="50" style="display:none" value="0">
                        }
                        @if (ViewBag.KullaniciYetki)
                        {
                            <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
                                <button type="submit" class="btn btn-primary ml-auto waves-effect waves-themed"><i class="fal fa-save mr-2"></i> Kaydet</button>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script>
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}


