@using FotografciTakipWeb.Models
<aside class="page-sidebar">
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            @*<img src="~/Areas/Admin/Content/img/Logo_Tek_28x28.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">TeTRa Bilişim</span>*@
            <img src="~/Areas/Otomasyon/Dosyalar/FirmaLogolar/Fotografci_Takip_Logo_1.png" alt="Fotoğrafçı Takip" aria-roledescription="logo">
            @*<img src="~/Areas/Admin/Dosyalar/FirmaLogolar/Fotografci_Takip_Logo_11.png" />*@
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input" placeholder="Menüde ara" class="form-control" tabindex="0">
                <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                    <i class="fal fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="info-card">
            <img src="@Session["ResimYol"]" class="profile-image rounded-circle" alt="@Session["AdSoyad"]">
            <div class="info-card-text">
                <a href="~/Admin/KullaniciIslemleri/Profil" class="d-flex align-items-center text-white">
                    <!-- Kullanıcı Profil Sayfasına Gidecek -->
                    <span class="text-truncate text-truncate-sm d-inline-block">
                        @Session["AdSoyad"]
                    </span>
                </a>
                <span class="d-inline-block text-truncate text-truncate-md"><b>Şube: </b> @Session["Firma"]</span>
            </div>
            <img src="~/Areas/Admin/Content/img/card-backgrounds/cover-1.png" class="cover" alt="cover">
            <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                <i class="fal fa-angle-down"></i>
            </a>
        </div>
        <ul id="js-nav-menu" class="nav-menu">
            @Html.Partial("_MenuDashboard")
            @*@Html.Partial("_MenuDestekTalepleri")*@
            @Html.Partial("_MenuKullaniciYetki")
            @{Html.RenderAction("_MenuDestekTalepleri", "Dashboard");}
            @Html.Partial("_MenuSiparisler")
            @Html.Partial("_MenuSatisPaketleri")
            @*@if (lisans.RezervasyonIslemleri == true)
        {
            @Html.Partial("_MenuRezervasyonIslemleri")
        }
        @if (lisans.Muhasebe == true)
        {
            @Html.Partial("_MenuMuhasebe")
        }
        @if (lisans.Musteriler == true)
        {
            @Html.Partial("_MenuMusteriler")
        }
        @if (lisans.Stok == true)
        {
            @Html.Partial("_MenuStok")
        }
        @if (lisans.Raporlar == true)
        {
            @Html.Partial("_MenuRaporlar")
        }
        @if (lisans.TelefonRehberi == true)
        {
            @Html.Partial("_MenuTelefonRehberi")
        }
        @if (lisans.Personeller == true)
        {
            @Html.Partial("_MenuPersoneller")
        }
        @if (lisans.Tanimlar == true)
        {
            @Html.Partial("_MenuTanimlar")
        }
        @if (lisans.Ayarlar == true)
        {
            @Html.Partial("_MenuAyarlar")
        }
        @if (lisans.FirmaSubeIslemleri == true)
        {
            @Html.Partial("_MenuFirmaSubeIslemleri")
        }
        @if (lisans.KullaniciYetkiIslemleri == true)
        {
            @Html.Partial("_MenuKullaniciYetki")
        }
        @if (lisans.SmsGonder == true)
        {
            @Html.Partial("_MenuSmsGonder")
        }
        @if (lisans.SatinAl == true)
        {
            @Html.Partial("_MenuSatinAl")
        }*@
            @{Html.RenderAction("_LisansSuresi", "Dashboard");}
            @{Html.RenderAction("_SMSKontur", "Dashboard");}
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
</aside>
