
@{
    ViewBag.Title = "Destek Talepleri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <style type="text/css">
        a {
            color: black;
            display: block;
        }
        a:hover {
            color: #505050;
            display: block;
        }
    </style>
}
@using FotografciTakipWeb.Models
@model List<DestekTalepleri>
@{
    string clss = "";
    string durum = "";
    string cevaptarihi = "";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel shadow-5">
            <div class="panel-hdr">
                <h2> Destek Talepleri</h2>
            </div>
            <div class="border-bottom"></div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    @if (Model.Count == 0)
                    {
                        <table class="table table-bordered table-hover table-sm w-100">
                            <thead class="bg-primary-500">
                                <tr>
                                    <th class="w-10">Kullanıcı</th>
                                    <th>Talep Türü</th>
                                    <th>Talep Başlığı</th>
                                    <th class="w-15">Talep Tarihi</th>
                                    <th class="w-15">Cevap Tarihi</th>
                                    <th class="w-15">Durum</th>
                                    <th class="w-15">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        <div class="alert border border-primary bg-transparent text-primary m-0 text-sm-center" id="GelecekOdemelerMesaj" role="alert">
                                            <h2> Henüz Talep Yok</h2>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table id="dttalepler" class="table table-bordered table-hover table-sm w-100">
                            <thead class="bg-primary-500">
                                <tr>
                                    <th class="w-10">Kullanıcı</th>
                                    <th>Talep Türü</th>
                                    <th>Talep Başlığı</th>
                                    <th class="w-15">Talep Tarihi</th>
                                    <th class="w-15">Cevap Tarihi</th>
                                    <th class="w-15">Durum</th>
                                    <th class="w-15">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*1: Cevap Bekleniyor 2: Okundu 3: Cevaplandı 4: Değerlendiriliyor 5: Kapandı 6: Talep İletildi 7: İptal*@
                                @foreach (var item in Model.OrderByDescending(x => x.Durum).OrderBy(x => x.Durum))
                                {
                                    clss = "";
                                    if (item.Durum == "1")
                                    { clss = clss + "bg-warning-100"; }

                                    else if (item.Durum == "3")
                                    { clss = clss + "bg-info-100"; }
                                    else if (item.Durum == "4")
                                    { clss = clss + "bg-warning-100"; }
                                    else if (item.Durum == "5")
                                    { clss = clss + "bg-success-100"; }
                                    else if (item.Durum == "6")
                                    { clss = clss + "bg-primary-100"; }
                                    else if (item.Durum == "7")
                                    { clss = clss + "bg-danger-400"; }

                                    switch (item.Durum)
                                    {
                                        case "1":
                                            durum = "Cevap Bekleniyor";
                                            break;
                                        case "2":
                                            durum = "Okundu";
                                            break;
                                        case "3":
                                            durum = "Cevaplandı";
                                            break;
                                        case "4":
                                            durum = "Değerlendiriliyor";
                                            break;
                                        case "5":
                                            durum = "Talep Kapandı";
                                            break;
                                        case "6":
                                            durum = "Talep İletildi";
                                            break;
                                        case "7":
                                            durum = "İptal";
                                            break;
                                        default:
                                            break;
                                    }
                                    <tr class="@clss">
                                        <td class="w-10 align-middle">@item.Kullanici.AdSoyad</td>
                                        <td class="align-middle">@item.TalepTuru</td>
                                        <td class="align-middle">@item.TalepBaslik</td>
                                        <td class="w-15 align-middle">@item.TalepTarihi.ToShortDateString() @item.TalepTarihi.ToShortTimeString() </td>
                                        <td class="w-15 align-middle">
                                            @if (item.CevapTarihi != new DateTime(2000, 1, 1, 0, 0, 0))
                                            {
                                                cevaptarihi = Convert.ToDateTime(item.CevapTarihi).ToShortDateString().ToString();
                                                cevaptarihi = cevaptarihi + " ";
                                                cevaptarihi = cevaptarihi + Convert.ToDateTime(item.CevapTarihi).ToShortTimeString();
                                            }
                                            @cevaptarihi
                                        </td>
                                        <td class="w-15 align-middle">@durum</td>
                                        <td class="w-15 align-middle">
                                            <button type='button' class='btn btn-sm btn-primary detay' style='color:white' data-talepid='@item.Id'>Görüntüle</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Script
{
    <script>
        $(document).ready(function () {
            $("#dttalepler").on('click', '.detay', function () {// Satıra ait "Düzenle" butonuna basıldığında düzenleme yapılacak modal penceresi açılarak gerekli bilgiler dolduruluyor.
                var id = $(this).data("talepid");
                window.location.replace("/Admin/Destek/DestekDetay/" + id);
            });
        });
    </script>
}


